@tailwind base;
@tailwind components;
@tailwind utilities;


/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("../static/font/sanfranciscodisplay-ultralight-webfont.woff2");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("/font/sanfranciscodisplay-thin-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("/font/sanfranciscodisplay-medium-webfont.woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("/font/sanfranciscodisplay-semibold-webfont.woff2");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("/font/sanfranciscodisplay-bold-webfont.woff2");
}

body {
  font-family: "San Francisco";
}